<div class="scrollable">
    <div class="wrap">
        <p>This is an example hbs! For {{ firstName }} {{makeBold lastName }}</p>
        <ul>
            {{> expartial }}
            {{> expartial }}
        </ul>
    </div>
</div>