<!DOCTYPE html>
<html>
    <head>
        <!-- Styles: https://gist.github.com/tuzz/3331384 -->
        <link rel="stylesheet" type="text/css" href="css/github.css" />
        <title>README</title>
        <script>
        //<![CDATA[
             document.write(
                '<script src="http://' +
                (location.host || 'localhost').split(':')[0] +
                ':35729/livereload.js?snipver=1"></' +
                'script>');
        //]]>
        </script>
    </head>
    <body>
        {DOC}
    </body>
</html>